// Підключення вкладених файлів
@import "_zeroStyle.scss";

// Підключення шрифтів
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

//зміні

//глобальні стилі
* {
  font-family: "Poppins", sans-serif;
}



//******************************
//міксіни
@mixin converter-input {
  margin: 0 0.75%;
  width: 48%;
  line-height: 1.5;
  height: 50px;
  padding-left: 10px;
  border: 1px solid #ccc;
  outline: none;
  color: #000000;
  border-radius: 0;

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@mixin converter-select {
  line-height: 1.5;
  height: 50px;
  padding-left: 10px;
  border: 1px solid #ccc;
  outline: none;
  color: #000000;
  border-radius: 0;
}

//******************************

.container {
  margin: 0 auto;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.converter-rate {
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: center;

  &__text,
  &__rate {
    font-size: 26px;
    font-weight: 500;
  }
}

.converter-from,
.converter-to {
  display: flex;
  justify-content: center;
  &__count {
    @include converter-input();
  }

  &__currency {
    @include converter-select();
  }
}
.converter-to {
  margin-top: 10px;
}

.currency-rate {
  margin-top: 50px;
  &__base {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__base-text {
    font-size: 22px;
    font-weight: 400;
  }

  &__select {
    @include converter-select();
  }

  &__table {
    margin-top: 15px;
    width: 100%;
    border-collapse: collapse;

    th {
      background-color: #f2f2f2;
      border: 1px solid #ddd;
    }
  }

  &__list {
    tr {
      &:nth-child(even) {
        background-color: #f2f2f2;
      }
      &:hover {
        background-color: #ddd;
      }
    }
    td {
      border: 1px solid #ddd;
      &:nth-child(2) {
        text-align: right;
        padding-right: 5px;
      }
    }
  }
}
//******************************
//Адаптив
@media (min-width: 1376px) {
  .container {
    width: 1320px;
  }
}

@media (max-width: 1376px) {
  .container {
    width: calc(100%);
  }
}
